body {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: $secondary;
	
}

.brand {
	color: $secondary;
	//text-transform: uppercase;
	backface-visibility: hidden;
	

	&-main {
		display: block;
		font-size: 2.4rem;
		font-weight: 800;
		font-family: "HelveticaNeue-CondensedBold", sans-serif;
		//letter-spacing: 3.5rem;
		//animation: moveInLeft 1.2s ease-out;
		text-transform: uppercase;
		line-height: 1;
		
		@include respond(phone) {
			letter-spacing: 1rem;
			font-size: 1.8rem;
		}
	}
	
	&-sub {
		display: block;
		font-size: 1.8rem;
		font-weight: 400;
		//letter-spacing: 1.7rem;
		//animation: moveInRight 1s ease-out;
		//margin-bottom: 6rem;
		
		@include respond(phone) {
			letter-spacing: .5rem;
		}
	}

}

.heading-primary {
	font-size: 3.6rem;
	//text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	color: $color-white;
	//letter-spacing: .2rem;
	transition: all .2s;
	line-height: 1;
	margin-bottom: 1.5rem;
	
	@include respond(tab-port) {
		font-size: 3rem;
	}
	
	@include respond(phone) {
		font-size: 2.5rem;
	}
	
	
	&:hover {
		//transform: skewY(2deg) skewX(15deg) scale(1.1);
		text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
		background-image: linear-gradient(to right, $gradient-light 0, $gradient-regular 50%,$gradient-dark);
	-webkit-background-clip: text;
	color: transparent;
	}
}


.paragraph {
	font-size: $default-fz;
	line-height: 1.5;

	&:not(:last-child) {
		margin-bottom: 1.8rem;
	}

	a {
		cursor: pointer;
		color: inherit;
		text-decoration: underline;
		text-decoration-color: $gradient-light;
		transition: all .2s;

		&:hover {
			text-decoration: none;
			background-image: linear-gradient(to right, $gradient-light 0, $gradient-regular 50%,$gradient-dark);
	-webkit-background-clip: text;
	color: transparent;
		}
	}
}

.action-link {
		font-size: $default-fz;
		margin-top: 6rem !important;
	&:link, &:visited {
		background-image: linear-gradient(to right, $gradient-light 0, $gradient-regular 50%,$gradient-dark);
	-webkit-background-clip: text;
	color: transparent;
	}

	&:hover, &:active {
		border-bottom: 2px solid $gradient-regular;
	}
}

.gradient-text {
	background-image: linear-gradient(to right, $gradient-light 0, $gradient-regular 50%,$gradient-dark);
	-webkit-background-clip: text;
	color: transparent;
	font-size: 6rem;
}
