// COLORS
$primary: #0B0C10;
$secondary: #C0C0C0;
$tertiary: #F8F8F8;
$color-white: #F8F8F8;
$color-black: #000;

// GRADIENT COLORS
$gradient-light: #F8961E;
$gradient-regular: #F3722C;
$gradient-dark: #F94144;


// FONT SIZES
$default-fz: 1.8rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 3rem;
$gutter-horizontal: 3rem;
$gutter-horizontal-small: 2rem;