.navigation {
	
	&-checkbox {
		display: none;
	}
	
	&-checkbox:checked ~ &-background {
		//background-image: radial-gradient($gradient-light, $gradient-dark);
		transform: scale(100);
	}
	
	&-checkbox:checked ~ &-nav {
		width: 100%;
		opacity: 1;
	}
	
	&-checkbox:checked + &-button {color: $gradient-light; background-color: $gradient-light;}
	&-checkbox:checked + &-button &-icon {background-color: transparent;}
	&-checkbox:checked + &-button &-icon::before {top: 0; transform: rotate(135deg); background-color: $primary; width: 2.5rem;}
	&-checkbox:checked + &-button &-icon::after {top: 0; transform: rotate(-135deg); background-color: $primary; width: 2.5rem;}
	
	
	&-button {
		background-color: $primary;
		width: 6.6rem;
		height: 6.6rem;
		border-radius: 50%;
		position: fixed;
		top: 3.1rem;
		right: 8rem;
		z-index: 2000;
		color: $secondary;
		//box-shadow: 0 1rem 3rem rgba($color-black, .2);
		text-align: center;
		cursor: pointer;
		font-size: $default-fz;
		display: flex;
		align-items: center;
		transition: all .1s cubic-bezier(0,1.04,1,-0.04);
		
		@include respond(tab-port) {
			top: 4.12rem;
			right: 4.12rem;
		}
		
		@include respond(phone) {
			top: 3.12rem;
			right: 3.12rem;
			
		}
	}
	
	&-background {
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		position: fixed;
		top: 3.4rem;
		right: 8.2rem;
		z-index: 1000;
		//transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
		transition: transform .5s ease-in-out;
		background-image: radial-gradient($gradient-light, $gradient-dark);

		@include respond(tab-port) {
			top: 4.5rem;
			right: 4.5rem;	
		}
		
		@include respond(phone) {
			top: 3.5rem;
			right: 3.5rem;
		}
	}
	
	&-nav {
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1500;
		opacity: 0;
		width: 0;
		transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
	
	&-list {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		text-transform: uppercase;
		list-style: none;
	}
	
	&-item {
		margin: 1rem;
	}
	
	&-link {
		
		&:link, &:visited {
			display: inline-block;
			font-size: 3rem;
			font-weight: 300;
			padding: 1rem 2rem;
			color: $color-white;
			text-decoration: none;
			background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
			background-size: 230%;
			transition: all .5s;
			
			.link-icon {
				margin-right: 1.5rem;
				display: inline-block;
			}
		}
		
		&:hover, &:active {
			background-position: 100%;
			color: $primary;
			transform: translateX(1rem);
		}
	}
	
	
	&-icon {
		position: relative;
		margin-left: 1rem;
		padding-left: 2rem;
		
		&, &::before, &::after {
			display: inline-block;
			width: 2.4rem;
			height: 2px;
			background-color: $secondary;
			transition: all .2s;
		}
		
		&::before, &::after {
			content: "";
			position: absolute;
			left: 0;
		}
		
		&::before {
			width: 2rem;
			top: -.8rem;
		}
		
		&::after {
			width: 1.7rem;
			top: .8rem;
		}
	}
	
	&-button:hover &-icon::before {top: -1rem;}
	&-button:hover &-icon::after {top: 1rem;}

}